<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/pokestyle.css">
    <meta charset="utf-8">
    <title>PokeWorld</title>
  </head>
  <header>
    <h1><a href='/pokemons'>Pokemons</a></h1>
  </header>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
